{% load static %}
<!--_footer.html-->
<footer class="bg-primary text-light">
    <div class="container navbar-dark pt-4 mt-5">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>
            <div class="col">
                <p class="text-right">Made By Eduardo Brandão</p>
            </div>
            <div class="col">
                <a href="https://www.linkedin.com/in/eduardombrandao/">
                <img style="width: 30px; height: 30px; margin-bottom: 20px;" class="text-right"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDsN5i8bCjqal079EJP4B4RgUs1EtyXB8lgRyXFjV9e3Q4Sox-cSljFQ7YeHbyrGTjh5k&usqp=CAU"
                     ></a>
            </div>
        </div>
    </div>
</footer>
<!--/_footer.html-->

<script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>